<div id="page_wrapper">
    <div id="profile_image">
        <%= image_tag "profile.jpeg" %>
    </div>

    <div id="content">
        <h1>It's Mr. Stick Figure</h1>
        <p>I'm baby direct trade humblebrag brooklyn ennui banjo squid palo santo franzen. Seitan brooklyn iceland shaman hammock bitters thundercats. Vegan hell of man braid, portland farm-to-table meditation seitan. Meditation tumblr lyft af. Vegan twee yuccie, readymade live-edge before they sold out umami roof party la croix af trust fund crucifix.
        <br><br>
        Dummy text? More like dummy thicc text, amirite?</p>
    </div>
</div>